.control__button {
  display: block;
  width: 40px;
  height: 40px;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-black);
  border: none;
  outline: none;
  background-color: #f2f2f2;
  cursor: pointer;
  transition-duration: 0.3s;
}

.control__button:hover {
  filter: brightness(1.1);
}

.control__button[disabled] {
  background-color: #e0e0e0;
}

.control__button[disabled]:hover {
  filter: none;
}

@media screen and (max-width: 768px) {
  .control__button {
    width: 30px;
    height: 30px;
  }
}
