.form__input {
  width: 420px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  height: 48px;
  border: 2px solid var(--color-primary);
  padding-left: 16px;
}
.form__input::placeholder {
  color: #d9d9d9;
}
.form__field {
  display: flex;
}
.invalid {
  outline: 1px solid red;
  background-color: rgba(255, 0, 0, 0.205);
}
@media screen and (max-width: 768px) {
  .form__input {
    display: block;
    text-align: center;
    width: 85%;
    padding: 0;
    height: 24px;
    margin: 0 auto;
  }

  .form__input {
    font-size: 24px;
  }
}
@media screen and (max-width: 320px) {
  .form__input {
    font-size: 16px;
  }
}
